<configuration>
  <configSections>
    <section name="ImportConfigurationSection" type="WUKasa.Config.ImportConfigurationSection, WUKasa"/>
  </configSections>
  <ImportConfigurationSection>
    <ImportConfigurations>
      <add Name="Orange" BankTitleRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Orange" IsIncome="false" BankAccountRegEx="16114012411068000002445671"/>
      <add Name="Orange Tp" OperationTyp="04" Description="Other" IsIncome="false"/>
    </ImportConfigurations>
  </ImportConfigurationSection>
</configuration>