<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ImportConfigurationSection" type="WUKasa.Config.ImportConfigurationSection, WUKasa"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Bank2Kasa.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <ImportConfigurationSection>
    <ImportRules>
      <add Name="Orange" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Orange {Mc}.{Yr}" IsIncome="false" ActionCode="0" BankAccountRegEx="16114012411068000002445671"/>
      <add Name="ZwrotZagro" OperationTyp="26" Description="Zagro: zwrot {BankTitle}" IsIncome="false" ActionCode="0" BankAccountRegEx="90132015371783861030000001"/>
      <add Name="PoboryTR" BankDescriptionRegEx="^PRZELEW.*PRZYCHODZĄCY$"  OperationTyp="10" Description="Pobory-ignoruj" IsIncome="true" ActionCode="1" BankAccountRegEx="03237000080000000020064010"/>
      <add Name="PoboryRR" BankDescriptionRegEx="^PRZELEW.*PRZYCHODZĄCY$"  OperationTyp="10" Description="Pobory-ignoruj" IsIncome="true" ActionCode="1" BankAccountRegEx="47124019941111000024959713"/>
      <add Name="OrangeTp" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Orange Tp {Mc}.{Yr}" IsIncome="false" ActionCode="0" BankAccountRegEx="84103019317040000014298080"/>
      <add Name="Karta" BankDescriptionRegEx="ZAKUP PRZY UŻYCIU KARTY"  OperationTyp="13" Description="Płatność kartą" IsIncome="true" ActionCode="2" ExtractDateFromTitle="True"/>

    </ImportRules>
  </ImportConfigurationSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>