<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ImportConfigurationSection" type="WUKasa.Config.ImportConfigurationSection, WUKasa"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Bank2Kasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Bank2Kasa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Bank2Kasa.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <ImportConfigurationSection>
    <ImportRules>
      <add Name="Karta" BankDescriptionRegEx="ZAKUP PRZY UŻYCIU KARTY"  OperationTyp="13" Description="Płatność kartą" IsIncome="true" ActionCode="2" ExtractDateFromTitle="True"/>
      <add Name="Bankomat" BankDescriptionRegEx="WYPŁATA W BANKOMACIE"  OperationTyp="12" Description="Pobranie z banku" IsIncome="true" ActionCode="2" ExtractDateFromTitle="True"/>
      <add Name="ZwrotZagro" OperationTyp="26" Description="Zagro: zwrot {BankTitle}" IsIncome="false" ActionCode="0" BankAccountRegEx="90132015371783861030000001"/>
      <add Name="PoboryTR" BankDescriptionRegEx="^PRZELEW.*PRZYCHODZĄCY$"  OperationTyp="10" Description="Pobory TR-ignoruj" IsIncome="true" ActionCode="1" BankAccountRegEx="03237000080000000020064010"/>
      <add Name="PoboryRR" BankDescriptionRegEx="^PRZELEW.*PRZYCHODZĄCY$"  OperationTyp="10" Description="Pobory RR-ignoruj" IsIncome="true" ActionCode="1" BankAccountRegEx="47124019941111000024959713"/>
      <add Name="Orange" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Orange {Mc}.{Yr}" IsIncome="false" ActionCode="0" BankAccountRegEx="16114012411068000002445671"/>
      <add Name="OrangeTp" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Orange Tp {Mc}.{Yr}" IsIncome="false" ActionCode="0" BankAccountRegEx="84103019317040000014298080"/>
      <add Name="Safehome" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Safehome {Mc}.{Yr}" IsIncome="false" ActionCode="0" BankAccountRegEx="39191010640005129141210001"/>
      <add Name="Prąd" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Prąd Tauron" IsIncome="false" ActionCode="0" BankAccountRegEx="78105000996029010029877508"/>
      <add Name="PrądZagro" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="26" Description="Zagro: Prąd Tauron" IsIncome="false" ActionCode="0" BankAccountRegEx="97105000996029010049320137"/>
      <add Name="CzynszZagro" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="26" Description="Zagro: {BankTitle}" IsIncome="false" ActionCode="0" BankAccountRegEx="55105000995748659111000027"/>
      <add Name="FRemonZagro" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="26" Description="Zagro: {BankTitle}" IsIncome="false" ActionCode="0" BankAccountRegEx="49105000995748659212000027"/>
      <add Name="GazZagro" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="26" Description="Zagro: Gaz" IsIncome="false" ActionCode="0" BankAccountRegEx="59103019447338129512300009"/>
      <add Name="Śmieci" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Śmieci {Mc}.{Yr}" IsIncome="false" ActionCode="0" BankAccountRegEx="05102052269493000000400955"/>
      <add Name="KościółMoł" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="04" Description="Kościół na Wschodzie" IsIncome="false" ActionCode="0" BankAccountRegEx="13124014441111001058589468"/>
      <add Name="Syria" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="04" Description="{BankTitle}" IsIncome="false" ActionCode="0" BankAccountRegEx="77116022020000000034364384"/>
      <add Name="OpłKarta" BankDescriptionRegEx="OPŁATA ZA KARTĘ"  OperationTyp="04" Description="Opłata za kartę" IsIncome="false" ActionCode="0" />
      <add Name="Woda" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Woda {Mc}.{Yr}" IsIncome="false" ActionCode="0" BankAccountRegEx="30102052263826000000407114"/>
      <add Name="Alior" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="26" Description="Alior -Ignoruj" IsIncome="false" ActionCode="1" BankAccountRegEx="92249010570000990072858653"/>
      <add Name="Gaz" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Gaz" IsIncome="false" ActionCode="0" BankAccountRegEx="75103019447338329603800005"/>
      <add Name="Basia" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="04" Description="{BankTitle}" IsIncome="false" ActionCode="0" BankAccountRegEx="88114020040000310275841510"/>
      <add Name="KościółBud" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Budowa Kościoła {Mc}.{Yr}" IsIncome="false" ActionCode="0" BankAccountRegEx="73958500070220022000770001"/>
      <add Name="PodtNierGt" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="{BankTitle}" IsIncome="false" ActionCode="0" BankAccountRegEx="39102052269938000000522526"/>
      <add Name="PodtNierZg" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Zagro: {BankTitle}" IsIncome="false" ActionCode="0" BankAccountRegEx="67102052269938000000542780"/>
      <add Name="Aviva" BankDescriptionRegEx="^PRZELEW.*WYCHODZĄCY$"  OperationTyp="34" Description="Aviva na życie" IsIncome="false" ActionCode="0" BankAccountRegEx="71114020170000410205244308"/>
    </ImportRules>
  </ImportConfigurationSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Bank2Kasa.Properties.Settings>
            <setting name="ImportTag" serializeAs="String">
                <value>IMPORT</value>
            </setting>
        </Bank2Kasa.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Bank2Kasa.Properties.Settings>
            <setting name="MWWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MWHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MWLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MWTop" serializeAs="String">
                <value>0</value>
            </setting>
        </Bank2Kasa.Properties.Settings>
    </userSettings>
</configuration>